<h1>Edit Task</h1>
<h2><%= @task.title %></h2>
<%= form_with model: @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :details %>
  <%= form.text_field :details %>
  <%= form.label :completed %>
  <%= form.check_box :completed %>
  <%= form.submit %>
<% end %>
